{
    "singleQuote": true,
    "trailingComma": 'all',
    "printWidth": 100,
    "arrowParens": 'avoid',
    "bracketSpacing": false,
    "importOrder": ['^[^.]*$', '^[.]'],
    "importOrderSeparation": true,
    "plugins": ["@trivago/prettier-plugin-sort-imports"]
}
